*{
margin: 0%;
padding: 0%;
box-sizing: border-box;}

/* font-family: 'Iceland', cursive; */
/* font-family: 'Inria Serif', serif; */
/* font-family: 'Acme', sans-serif; */
.body{
    background-color: antiquewhite;
}
.header{
    display:flex;
    flex-direction: column;
    object-fit:contain;
    background-color: #211D1D30; ;
}
.h1{
    text-align: center;
    color: whitesmoke;
    font-family: 'Inria Serif', serif; 
    width: 100%;
    background-color: #211D1D30;

}
.img1{
    background-size: cover;
    width:100%;
}
.h2{   
    text-align: center;
    color: #C28964;
    font-size: 20px;
    font-family: 'Iceland', cursive;
}
.h3{
    text-align: center;
    font-weight: 50;
    color: #C0DBEA;
    font-size: 12px;
    font-family: 'Acme', sans-serif;
    background-color: #91836A66;
}
.img2{
    border-radius: 50%;
height: 15rem;
}
fieldset{
    font-family: 'Acme', sans-serif;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    ".legend"
    ".div1"
    ".div2"
    ".div3"
    ".div4";
}
section{
    display:grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
    "diez once"
    ;
}
.diez {
    font-family: 'Acme', sans-serif;
    text-align: left;
}
.once {
    font-family: 'Acme', sans-serif;
    text-align: right;
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:10px;
}
.img3{
    width:20px;
}
.img4{
    width: 20px;
}
.img5{
    width: 20px;
}

/* medias */
@media(min-width:768px){

    .img1{
        display: none;
    }
    .header{
        background-image: url(../assets/ceramica.uno.png);
        height: 300px;
        text-align: center;
        background-size: cover;
    }
    .h1{
        letter-spacing: 2rem;
        height: 100px;
        text-decoration: line-through;
        font-size:50px;
    }
    .primero{
        height: 350px;
    display: grid;
    grid-template-columns:(1fr);
    background-image: url(../assets/ceramica.dos.png);
    background-size: cover;
    }
    .img2{
        display: none;
    }
    .h2{
        font-weight: 600px;
        font-size: 40px;
    }
    .h3{
        text-decoration: underline;
        font-size:70px;
        height: 90px;
    }
    fieldset{
        background: #211D1D30;
        width: 100%;
        height: 350px;
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-area:
        "legend legend legend legend"
        "div1   div1   div2   div2"
        "div3   div3   div4   div4"
        ;
    }
    .legend{
        grid-area: legend;
        text-align: center;
    }
    .div1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }
    .div2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .div3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
    }
    .div4{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
    }
    section{
        background: #211D1D30;
        font-size: 15px;
    }
    .footer{
        background-color: #211D1D30;
        height: 150px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1fr);
        grid-template-areas: 
        "div5 div6 div7";
    }
    .div5{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .div6{
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .div7{
        grid-column-start: 3;
        grid-row-start: 1;
    }
}
@media (min-width:1440px){
    .primero{
        height: 700px;
    }
    .img2{
        border-radius: 50%;
        height: fit-content;
    }
    .h2{
        font-size: 60px;
        background-color: #D9D9D966;
        height: 80px;
    }
    fieldset{
        width:100%;
        font-size: 30px;
        text-decoration: underline;
    }
    section{
        width: 100%;
    }
    .footer{
        height: 250px;
        width: 100%;
    }
    .img3{
        height:150px;
        width: 100px;
    }
    .img4{
        height: 150px;
        width: 100px;
    }
    .img5{
        height: 150px;
        width: 100px;
    }
}

/* ACA EMPIEZA LAS MEDIA QUERIES DE SERVICIOS */
@media (min-width:320){
    .footer1{
        display: flex;
        flex-direction: row;
        width: 100%;
        height:10px;
    }
    .img3{
        width:20px;
    }
    .img4{
        width: 20px;
    }
    .img5{
        width: 20px;
    }
}